---
type List = {
  name: string;
  path: string;
  type?: "group" | "link";
  children?: List[];
};
function foMart(list:List[]){
  const res = [] as List[]
  list.forEach(f=>{
    const dir = f.path.match(/(?<=\/)[^\/]+(?=\/)/)
    if(dir){
      const dirName = dir[0]
      const dirItem = res.find(r=>r.name===dirName)
      if(dirItem){
        dirItem.children?.push(f)
      }else{
        res.push({
          name:dirName,
          path:`/${dirName}`,
          type:'group',
          children:[f]
        })
      }
    }
  })
  return res
}
const path = Astro.url.pathname ?? "/";
const exclude = ["404",'index'];
const rename = [] as { o: string; n: string }[]
const list = (await Astro.glob("../pages/**/*.astro"))
  .map<List>((item) => {
    const name = item.file.slice(0, -6).split("/").pop() ?? "";
    const path = item.url===''?'/':item.url ?? "/";
    return {
      name: rename.find((r) => r.o === name)?.n ?? name,
      path,
      type:'link'
    };
  })
  .filter((f) => !exclude.includes(f.name))
const listRes = foMart(list)

---

<menu class="wh-full overscroll-y-auto">
  <ul class="flex-col gap-1 p-3">
    {
      listRes.map((item) => {
        return (
          <li>
            {
              item.type==='group'?
              <div class="w-full h-8 p-x-3 flex-y-center justify-between rounded-md cursor-pointer hover:(bg-black/5)">
                <span class="text-xl">{item.name}</span>
                <i class="i-ri-arrow-right-s-line"></i>
              </div>
              <ul class="flex-col gap-1 p-l-5">
                {
                  item.children?.map(m=>{
                    return(
                      <li>
                        <a class="hover:(text-red)" href={m.path}>
                          {m.name}
                        </a>
                    </li>
                    )
                  })
                }
              </ul>
              :
              <a class="hover:(text-black)" href={item.path}>
                {item.name}
              </a>
            }
          </li>
        );
      })
    }
  </ul>
</menu>
